name: Meetap FIAP
on: [push, pull_request]
jobs:
  devsecops:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          FIAP_TOKEN: ${{ secrets.FIAP_TOKEN }}
        with:
          command: monitor
  zap:
     runs-on: ubuntu-latest
     steps:
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
           target: 'https://owasp.org/www-project-juice-shop/'
           
